.card {
    background-color: rgb(221, 221, 221);
    width: 50vw;
    height: 25vh;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    width: 80%;
}